.about-me {
  grid-row: content-s/content-e;
  height: calc(100vh - 120px);

  padding: 0rem 4rem 0rem 4rem;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;

  &-img {
    background-size: cover;
    background-position: right;
  }
}

.about-me {
  &-info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 20px;
  }
}

.about-me-info {
  .title {
    .name {
      font-weight: 600;
      font-size: 1rem;

      padding-bottom: 15px;
    }
    .career {
      font-size: 2.5rem;
      color: $cool-orange;
    }
  }
  .content-info {
    text-align: justify;
  }
}

.contact-info {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  .info {
    display: flex;

    i {
      font-size: 2rem;
      color: $cool-orange;
      align-self: center;

      margin-right: 10px;
    }
    .subtitle {
      align-self: center;
    }
  }
}

.media-links-icons {
  display: flex;
  align-items: center;

  justify-self: center;

  .media-link-icon {
    font-size: 2rem;
    padding-right: 20px;
    color: $dark-soul;

    transition: 0.5s ease-in-out;

    &:hover {
      color: $cool-orange;
    }
  }
}
.msn {
  .subtitle {
    a {
      text-decoration: none;
      color: $cool-orange;
      font-weight: 600;
    }
  }
}
