.auth {
  grid-row: content-s/content-e;
  height: calc(100vh - 120px);

  padding: 0rem 4rem 0rem 4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.auth-form {
  height: 500px;
  width: 400px;
  justify-self: center;
  align-self: center;

  border: solid $cool-orange 3px;

  padding: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .user-icon {
    justify-self: center;
    align-self: center;
    font-size: 5rem;
  }

  .grettigs-msg {
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
  }

  .auth-form-wrapper {
    @include input-element();
    @include base-grid();
    grid-gap: 21px;
    padding: 20px;

    .btn {
      @include base-btn();
      width: 100%;
    }
    .form-group {
      display: flex;
      i {
        font-size: 1.5em;
        margin-right: 10px;
        color: $cool-orange;
      }
    }
  }
}
