.logo {
  display: grid;
  grid-template-columns: [s]1fr[e];
  grid-template-rows: [s] 1fr [e];
  font-family: "Rock Salt", cursive;

  .title {
    grid-column: s/e;
    grid-row: s/e;
    font-size: 2rem;
  }
  .subtitle {
    grid-column: s/e;
    grid-row: s/e;
    align-self: end;
    font-size: 0.75rem;
  }
}
