.nav-wrapper {
  grid-row: nav-bar-s/nav-bar-e;
  grid-column: s/e;
  display: grid;
  grid-template-columns: [logo-s] 1fr [logo-e links-s] 1fr [links-e];

  padding: 0rem 4rem 0rem 4rem;
}

.nav-wrapper {
  .left-column {
    grid-column: logo-s/logo-e;
    align-self: center;
  }
  .right-column {
    grid-column: links-s/links-e;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25rem;
    font-weight: 600;

    a {
      text-decoration: none;
    }
  }
}

.nav-wrapper {
  color: $cool-orange;
  transition: 0.5s ease-in-out;
  border-bottom: 3px solid transparent;

  a {
    color: $cool-orange;
    &:hover {
      border-bottom: 3px solid $cool-orange;
    }
  }
}

.home-nav-wrapper {
  z-index: 9;

  color: $soft-white;
  transition: 0.5s ease-in-out;
  border-bottom: 3px solid transparent;

  a {
    color: $soft-white;

    &:hover {
      border-bottom: 3px solid $soft-white;
    }
  }

  .link-active {
    border-bottom: 3px solid $soft-white;
  }
}

.special-links {
  display: flex;

  .sign-out {
    margin-left: 1rem;
    cursor: pointer;
  }
}

.link-active {
  border-bottom: 3px solid $cool-orange;
}
