.nav-wrapper,
.home-nav-wrapper {
  grid-row: nav-bar-s/nav-bar-e;
  grid-column: s/e;
  display: grid;
  grid-template-columns: [logo-s] 1fr [logo-e links-s] 1fr [links-e];

  padding: 0rem 2rem 0rem 4rem;
}

.nav-wrapper,
.home-nav-wrapper {
  .left-column {
    grid-column: logo-s/logo-e;
    align-self: center;
  }
  .right-column {
    grid-column: links-s/links-e;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25rem;

    a {
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

.nav-wrapper {
  color: $dark-soul;

  a {
    transition: 0.5s ease-in-out;
    border-bottom: 1px solid transparent;
    color: $offgray;

    &:hover {
      color: $dark-soul;
      border-bottom: 1px solid $dark-soul;
    }
  }
  .link-active {
    border-bottom: 1px solid $offgray;
  }
}

.home-nav-wrapper {
  z-index: 999;
  color: $soft-white;

  a {
    color: $soft-white;
    transition: 0.5s ease-in-out;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $soft-white;
    }
  }

  .link-active {
    border-bottom: 1px solid $soft-white;
  }
}

.special-links {
  display: flex;

  .sign-out {
    margin-left: 1rem;
    cursor: pointer;
  }
}
