.nav-wrapper {
  grid-row: nav-bar-s/nav-bar-e;
  grid-column: s/e;
  display: grid;
  grid-template-columns: [logo-s] 1fr [logo-e] 1fr [links-s] 1fr [links-e];

  padding: 0rem 4rem 0rem 4rem;
}

.nav-wrapper {
  .left-column {
    grid-column: logo-s/logo-e;
    align-self: center;
  }
  .right-column {
    grid-column: links-s/links-e;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25rem;
    font-weight: 600;

    a {
      text-decoration: none;
    }
  }
}

.home-nav-wrapper {
  z-index: 9;

  color: $soft-white;
  a {
    color: $soft-white;
  }
}
